@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<form method="POST">
<div class="text-center">
    <div style="float:right">
     <img src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__480.jpg" height="299" width="300"/></div>
    <h1 class="display-4">Welcome</h1>
    <h2>Welcome</h2>
    <h3>Welcome</h3>
    <h4>Welcome</h4>
    <h5>Welcome</h5>
    <h6>Welcome</h6>
    <p>WelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcome</p>
    <a href="https://docs.microsoft.com/aspnet/core">test</a>
    <div style="background-color:red;color:aqua">

        <p>WelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcomeWelcome</p>


    </div>
    <input type="text"  cols="20" rows="30"/>
    <table>

       <tr style="border:2px solid black;border-collapse:collapse;">
           <th style=" border:2px solid black;border-collapse:collapse;">name</th>
           <th>Age</th>
          <th>link</th>

       </tr>
       <tr>
           <td style="border:2px solid black;border-collapse:collapse;">Gana</td>
           <td>30</td>
           <td><a href="">edit</a></td>
       </tr>



    </table>
    
  
   <button>Submit</button>

   <input type="text" required />


  <input type="radio" name="gender" />Male
  <input type="radio" name="gender" />Female
  <input type="checkbox" />Music
  <input type="checkbox"/>Drawing
 <input type="file" />
 <ol type="I">
     <li>Tea</li>
     <li>Coffe</li>
 </ol>
 <ul >
     <li>Tea</li>
     <li>Coffe</li>
 </ul>
 <dl>
     <dt>Name</dt>
     <dd>Name is rinku</dd>
 </dl>
 <select>
     <option>Calicut</option>
     <option>vayanad</option>
 </select>
 <style>
     table,th,td
     {
         border:2px solid black;border-collapse:collapse;
     }
     p{
         background-color:red;font-size:large;
     }
 </style>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
</form>
