@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@using model21_6_23.Models;
@model Student;
<h1>Student details </h1>
<p>Id:@Model.Id</p>
<p>Name:@Model.Name</p>
<p>Mark:@Model.Mark</p>